/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.inp{
    border: 0;
    border-bottom: 1px solid lightgray;
}

.rettangolini{
    height: 5px;
    width: 10%;
}

.bluScuro{
    background-color: rgba(44,62,80,255);
}

.verde{
    background-color: rgba(26,188,156,255);
}
/* Jumbo */
#jumbo img{
    width: 50%;
}
/* Footer */
#info{
    background-color: rgba(58,84,109,255);
}

.socialContainer{
    height: 30px;
    width: 30px;
}

#staBoo{
    color: rgba(26,188,156,255);
}