/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h100{
    height: 100px;
}

.h300{
    height: 300px;
}

.bordo{
    border: 1px solid black;
}

.marTop1rem{
    margin-top: 1rem;
}
/* Header */
header{
    background-color: rgba(44,62,80,255);
}
/* Jumbo */
#jumbo{
    background-color: rgba(26,188,156,255);
}
/* Portfolio */
/* About */
#about{
    background-color: rgba(26,188,156,255);
}
/* Contact me */
/* Footer */
#info{
    background-color: rgba(58,84,109,255);
}

#copyright{
    background-color: rgba(44,62,80,255);
}